<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Budaba imageboard
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" href="{% static "styles.css" %}">
    {% endblock %}
</head>
<body class="bg-light">
<div class="container">
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {% block content %}
            <!-- Content here -->
        {% endblock %}
    </div>
</div>
</body>
</html>