{% extends 'base.html' %}

{% block content %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="row">
            <div class="jumbotron">
                <h1 class="display-4">Welcome, again!</h1>
            </div>
            <div class="col-6 col-md">
                <h5>Борды:</h5>
                <ul class="list-unstyled text-small">
                    {% for board in boards %}
                        <li><a class="text-success" href="{% url 'thread-list' board.name %}">/{{ board.name }}/</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}