{% extends 'base.html' %}
{% load forum_tags %}
{% block navbar %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'thread-list' board=board %}">/{{ board }}/</a>
    </li>
{% endblock %}

{% block content %}
    <form method="POST" action="/api/report">
        {% for post in posts %}
            <div class="card" style="padding-top: 0">
                <div class="card-body" id="{{ post.number }}">
                    <h6 class="card-title"><input type="checkbox"> Thread №{{ thread.number }} Post
                        <a href="#{{ post.number }}">№{{ post.number }}</a>{% if post.is_OP %}
                            <span class="badge badge-success">OP</span>{% endif %}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{ post.created }}</h6>
                    {% with post.mediafile.first as image %}
                        {% if image %}
                            <a href="/media/{{ image.file }}"><img style="max-width: 100px; max-height: 100px" src="/media/{{ image.file }}"/></a>
                        {% endif %}
                    {% endwith %}
                    <p class="card-text">{{ post.text|markdown }}</p>
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-danger" type="submit">Report posts</button>
    </form>
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="email">Email address</label>
                <input type="hidden" name="board" value="{{ board }}">
                <input type="email" id="email" class="form-control" name="email" placeholder="Enter email"><br>
                <label for="text">Post text</label>
                <textarea rows="10" class="form-control" name="text"></textarea><br>
                <label for="is_op">Are you OP?</label>
                <input type="checkbox" id="is_op" name="is_op"><br>
                {{ form2 }}<br>
                {{ form.captcha }}
                <input type="submit" class="btn btn-success">
            </form>
        </div>
    </div>
{% endblock %}